* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  margin: 10px;
  color: #003399;
}

input {
  border: 1px solid #003399;
  border-radius: 2px;
  padding: 5px;
  margin-right: 15px;
}

input:focus {
  outline: 1px solid #003399;
}

input[type='submit'] {
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: #66ccff;
  background-color: #003399;
}

input[type='submit']:focus {
  outline: 1px solid #66ccff;
}

label,
p {
  margin: 0 10px;
}

#output-check {
  border: 1px solid #003399;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
}

#output-check ul {
  padding-left: 25px;
}

p.right {
  color: green;
}

p.wrong {
  color: red;
}

.do-not-display {
  display: none;
}
